# 大目录，不传
downloads/
isaacsim-5.1.0/
IsaacLab/

# 缓存和临时文件
__pycache__/
*.pyc
.vscode/
.~lock.*
*.egg-info/

# 本地打包和生成的机器人资产缓存
/wheel_legged_isaaclab.zip
/wheel_legged_isaaclab/assets/robots/wl/urdf/wl/

# 强化学习训练产物
